.header-banner {
    background-image: url("../images/pexels-name-name-4577541(2).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width:100%

}

nav {
    height: 60px;
    background-color: #373F51;
}