.header-banner {
    background-image: url("../images/pexels-name-name-4577541(2).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width:100%;

}

header h1 {
    background-color: rgba(55,63,81, 0.8);
    color: #fff;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 5rem; 
    font-size: 2.25rem;
}   

nav {
    height: 70px;
    background-color: #373F51;
}