nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 1.5rem;
}

.user-avatar {
    margin: 20px;
}