.main-page {
  background-color: #C0AAA3;
  display: grid;
  grid-template-columns: 1fr  80%  1fr;
}

.main-container {
  grid-column: 2 / span 1;
  min-height:100vh;
  background-color: white;
}

body {
  background-color: #C0AAA3;
  
}