@import url('https://fonts.googleapis.com/css?family=Figtree:300,400,500,700&display=swap');

body {
  margin: 0;
  font-family: 'Figtree';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: #C0AAA3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}